{% extends 'base.html.twig' %}


{% block body %}
<div class="example-wrapper">
    <div class="row">
   {% for product in category.products %}
       <div class="card col-3" style="width: 18rem;">
           <img class="img-fluid" src="{{ asset(product.img) }}" alt="elec">
           <div class="card-body">
               <h5 class="card-title"> {{ product.name }}</h5>
               <p class="card-text">{{ product.price }}</p>
               <a type="button" href="{{ path("app_order", {"product": product.id}) }}"  class=" w-100 btn btn-primary">klik</a>
           </div>
       </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
