{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

        {{ form(form) }}

        <div class="card col-3" style="width: 18rem;">
                <img class="img-fluid" src="{{ asset(product.img) }}" alt="elec">
                <div class="card-body">
                        <h5 class="card-title"> {{ product.name }}</h5>
                        <p class="card-text">{{ product.price }}</p>

                </div>
        </div>
{% endblock %}
